<h1>User Update</h1>
<div class='name'>ArtistName:</div> <input type="text" placeholder="<%= userinfo['ArtistName'] %>" id="ArtistName0"/><br />
<div class='name'>ArtistEmail:</div> <input type="text" placeholder="<%= userinfo['ArtistEmail'] %>" id="ArtistEmail0"/><br />
<div class='name'>ArtistPhone:</div> <input type="text" placeholder="<%= userinfo['ArtistPhone'] %>" id="ArtistPhone0"/><br />
<div class='name'>PieceDescription:</div> <input type="text" placeholder="<%= userinfo['PieceDescription'] %>" id="PieceDescription0"/><br />
<button class="btn-update" name=<%= userinfo['_id']%>>Update</button>
